body {
    margin: 0;
    background-color: #eee;
}
a {
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #555;
    transition: color .3s, border-bottom .3s;
}
a:hover {
    color: #000;
    border-bottom-color: #000;
}

.card {
    width: 95%;
    padding: 20px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

aside#prog-info {
    position: fixed;
    padding: 3px 2px;
    width: 100%;
    z-index: 100;
    background-color: #333;
    color: #efefef;
    top: 0;
    transition: all .3s;
    visibility: hidden;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0;
}
aside#prog-info.active {
    visibility: visible;
    opacity: 0.9;
}

div#input-area {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div#input-config {
    padding-right: 5px;
}
div#input-config * {
    display: block;
}
select#input-font {
    margin-bottom:5px;
}
textarea#input-text {
    display: block;
    width: 100%;
    height: 100px;
    min-width: 60%;
    max-width: 100%;
    min-height: 50px;
    font-family: 'Ubuntu Mono', Consolas, 'Courier New', Courier, monospace;
}

#output-area {
    font-family: Unifont, 'Ubuntu Mono', Consolas, 'Courier New', Courier, monospace;
    white-space: pre;
    margin-top: 0;
    margin-bottom: 15px;
    overflow-y: auto;
}
menu#actions {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
menu#actions li::marker {
    content: none;
}
menu#actions button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color .3s;
}
menu#actions button:hover {
    background-color: #ccc;
}

body > footer {
    width: 95%;
    margin: 10px auto;
}
body > footer span {
    font-size: smaller;
    display: block;
    opacity: 0.6;
}